{
  "presets": ["react-app"],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "babel-plugin-named-asset-import",
      {
        "loaderMap": {
          "svg": {
            "ReactComponent": "@svgr/webpack?-prettier,-svgo![path]"
          }
        }
      }
    ]
  ]
}
